* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --main-background: url(../imgs/hero_bg_1.jpg);
  --primary-color: #c2e54f;
}
/* small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 972px;
  }
}
/* large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}

/* --------------------------------------------------------- */

body {
  color: #666;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.land {
  background-image: var(--main-background);
  background-size: cover;
}
.one {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0;
  z-index: 20;
  background-color: #fff;
  box-shadow: 1px 2px 5px #ddd;
}
.logo {
  color: #000;
  padding: 0 10px;
  font-size: 1.5rem;
  border: 4px solid #000;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
a {
  color: #000;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.5s;
}
.active {
  color: #c2e54f;
}
ul li a:hover {
  color: #c2e54f;
}
span a {
  color: #fff;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 3px;
  height: 2px;
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 0;
  top: calc(100% + 15px);
  width: 120px;
  display: none;
  z-index: 22;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: " ";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  width: 100%;
  padding: 15px;
  display: block;
  text-decoration: none;
  color: #222;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding: 25px;
  color: #c2e54f;
}
@media (max-width: 769px) {
  nav {
    display: none;
  }
}
@media (min-width: 769px) {
  .links {
    display: none;
  }
}

/* ----------------------------------------------------- */

.landing .container {
  color: #fff;
  height: calc(100vh);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
}
.landing .intro-text {
  text-align: center;
  max-width: 100%;
  width: 700px;
}
.landing .intro-text h1 {
  font-size: 3rem;
  font-weight: 500;
}
.landing .intro-text p {
  font-size: 1.3rem;
}
.landing .intro-text span {
  background-color: var(--primary-color);
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  position: absolute;
  left: calc(50% - 75px);
  bottom: 20%;
  transition: 1s;
}
.landing .intro-text span:hover {
  background-color: black;
}
@media (max-width: 768px) {
  .landing .intro-text span {
    bottom: 10%;
  }
}
@media (max-width: 420px) {
  .landing .intro-text span {
    bottom: -30px;
  }
}

/*-------------------------------------------------*/

.About,
.service,
.contact {
  padding: 7em 0;
  margin: 0 auto;
}
.section-title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 1.5rem;
}
.About .section-title:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
h2 {
  color: #000;
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p1 p,
.p2 p {
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 1170px) {
  .Aimg img,
  .p1,
  .p2 {
    width: 350px;
  }
}
@media (min-width: 992px) and (max-width: 1170px) {
  .Aimg img,
  .p1,
  .p2 {
    width: 300px;
  }
}
@media (max-width: 786px) {
  .Aimg img {
    width: 100%;
  }
}

/* ------------------------------------------------------------- */

.service,
.proj .section-title,
.blog .section-title,
.contact .section-title {
  text-align: center;
}
.service .section-title h2:after,
.proj .section-title h2:after,
.blog .section-title h2::after,
.contact .section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
}
.service-content .col {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 800px;
}
.service-content .card {
  width: calc(50% - 20px);
  margin: 10px;
  padding: 30px;
  background: #fff;
  text-align: left;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
}
.service-content h3 {
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
.service img {
  width: 75px;
}
.service-content .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 20px 10px rgba(200, 200, 200, 0.3);
}
@media (max-width: 992px) {
  .service-content .card {
    width: 100%;
  }
}
/* ------------------------------------------------------------------------ */
.proj {
  padding-top: 7em;
}
.tabs {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
}
.tabs span {
  display: inline-block;
  margin: 15px;
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  cursor: pointer;
}
.tab1 {
  color: #fff;
  background-color: var(--primary-color);
}
.tabs .tab {
  background: rgba(52, 58, 64, 0.05);
  color: #343a40;
  transition: 0.3s;
}
.tabs .tab:hover {
  background-color: #ccc;
}
.pro-imgs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5em;
}
.pro-imgs div {
  width: 30%;
}
.pro-imgs div div {
  width: 100%;
  margin: 15px 0;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.pro-imgs div img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.pro-imgs div div i {
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  opacity: 0;
  transition: 0.5s;
}
.pro-imgs div img:hover {
  filter: brightness(70%);
  transform: scale(1.05, 1.05);
}
.pro-imgs div div:hover i {
  opacity: 100;
}
@media (max-width: 992px) {
  .pro-imgs div {
    width: 45%;
  }
  .pro-imgs div:last-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .pro-imgs div:last-child div {
    width: 45%;
  }
}
.review {
  color: #fff;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.review div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.review div h2 {
  color: #fff;
  margin-bottom: 3em;
}
.review p {
  width: 52%;
  font-size: 1.1rem;
  font-style: italic;
  margin: 1rem 0;
}
.sign {
  opacity: 50%;
  font-size: 20px;
}
.review span {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  align-self: center;
  position: relative;
}
.review span::before {
  content: "";
  width: 6px;
  height: 6px;
  opacity: 0.5;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  left: -20px;
}
.review span::after {
  content: "";
  width: 6px;
  height: 6px;
  opacity: 0.5;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  left: 20px;
}
/* --------------------------------------------------------- */
.blog {
  padding: 6em 0;
  background-color: #f8f9fa;
}
.blog-content {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.blog-content .Bcol {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
}
.blog-content img {
  width: 100%;
}
.blog-content .blog-info {
  padding: 1.5rem !important;
  border: 1px solid #eee;
  border-top: none;
}
.blog-content h3 {
  color: #000;
  margin-bottom: 8px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
}
.blog-info .date {
  color: #999999;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.blog-info p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.blog-info .more {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  color: #000;
}
.blog-info .more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #000;
  transition: 0.3s all ease;
}
.blog-info .more:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
}
@media (max-width: 992px) {
  .blog-content .Bcol {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .blog-content .Bcol {
    width: 95%;
  }
}
/* --------------------------------------------------------- */
.contact .section-title {
  margin-bottom: 4em;
}
.cont-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form {
  width: 50%;
}
.cont-cont .info {
  width: 45%;
}
b {
  display: block;
  margin-bottom: 0.25rem;
}
.cont-cont h3 {
  color: #000;
  margin-bottom: 8px;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}
.add {
  margin-bottom: 2rem;
}
input,
textarea {
  width: 100%;
  border: 0;
  color: #495057;
  transition: 1s;
  margin-bottom: 2rem;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #eee;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
.dname {
  display: flex;
  justify-content: space-between;
}
.name {
  width: 48%;
}
textarea {
  height: 250px;
  resize: none;
}
.submit {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  transition: 0.5s;
}
.submit:hover {
  background-color: black;
  cursor: pointer;
}
@media (max-width: 992px) {
  .form,
  .cont-cont .info {
    width: 100%;
  }
}
/* --------------------------------------------------------- */
